.gallery-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery-inner-container {
  z-index: -10 !important;
  width: 85%;
}
