.tpa-container {
  background-color: #f9a61a;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tpa-header {
  /* background-color: aquamarine; */
  width: 85%;
  padding: 20px 0;
  font-size: 1.7vw;
  color: white;
}

.tpaInfo-container {
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
}

.tpaInfo-container p {
  padding: 50px 0;
  color: #616161;
}

.tpaInfo-inner-container h2 {
  padding-bottom: 10px;
  color: #01597d;
}

.Headingunderline {
  border: 1px solid #01597d;
}

.tpaInfo-inner-container {
  width: 85%;
  /* background-color: aquamarine; */
}

.tpa-list {
  margin-left: 20px;
  /* margin-top: 40px; */
  padding: 40px 0;
}

.tpa-list li {
  padding: 6px 0;
  color: #616161;
}

/* media query start */

@media (max-width: 600px) {
  .tpa-header h2 {
    font-size: 7vw;
  }
  .tpaInfo-inner-container p {
    font-size: 4vw;
  }
  .tpaInfo-inner-container h2 {
    font-size: 6vw;
  }
  .tpa-list li {
    font-size: 4vw;
  }
}
