@media (max-width: 600px) {
  .NavLoginBtn {
    font-size: 4vw;
    color: white;
    &:hover {
    transition: 0.5s ease;
    color: #01597d;
  }
  }
  .nav-login-btn {
    margin-right: 3vw;
    height: 4vh;
    background-color: #f9a61a;
    display: none;
  }
  .nav-login-btn1 {
    display: block !important;
    /* margin-right: 4vw; */
  }
  .FaBars-line {
    margin-left: 4vw;
    font-size: 6vw;
  }

  .evan-logo {
    width: 20vw;
  }
  .nav-container {
    /* background-color: tomato; */
    height: 8vh !important;
  }
}
