.AUS-title {
  font-size: 1.6vw !important;
  color: #01597d;
}

.AUS-para {
  font-size: 1.3vw !important;
  color: #f9a61a;
}

/* media query css start */

@media (max-width: 600px) {
  .AUS-title {
    font-size: 4vw !important;
  }
  .AUS-para {
    font-size: 3vw !important;
  }
}
