.AboutCard-container {
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutCard-inner-container {
  background-color: bisque;
  width: 85%;
  border-radius: 10px;
}
