.gallery-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.gallery-cards {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 0;
}

.gallery-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-img {
  height: 180px;
  border-radius: 10px;
}
