.hero-card {
  background-color: rgb(255, 255, 255);
  width: 188px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1rem;
  gap: 10px;
  border: 1px solid rgb(192, 192, 192);
}
