@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.navtop-container {
  width: 100%;
  background-color: #01597d;
  /* height: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navtop-inner-container {
  color: white;
  font-size: 1.3vw;
  width: 85%;
  padding: 15px 0;
  /* height: 40px; */
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: "Open Sans", serif; */
  font-family: "Lato", sans-serif;
}

@media (max-width: 600px) {
  .nav-top-hidden {
    display: none;
  }
  .navtop-inner-container h5 {
    font-size: 2.4vw;
  }
}
