:root {
  --bg1: #f7f9fc;
  --bg2: #8fbcd4;
  --cardBg: #f5f5f5;
  --btnColor: #00796b;
  --text: #007a73;
  --text2: #333333;
  --text3: #666666;
  --orange: #f9a61a;
  --blue: #01597d;
  --white: #ffffff;
  --black: #000000;
}

.project-facts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-facts-box img {
  height: 12vw;
  padding: 30px 0;
}

.project-facts-box h2 {
  font-size: 2.4vw;
  color: #616161;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.project-facts-box p {
  font-size: 1.4vw;
  color: #616161;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

/* media query start */
@media (max-width: 600px) {
  .project-facts-box img {
    height: 40vw;
  }
  .project-facts-box h2 {
    font-size: 8vw;
  }
  .project-facts-box p {
    font-size: 5vw;
  }
}
