.Specialities-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  font-size: 1.1rem;
  margin: 0px 0px 10px 0px;
  width: 21vw;
  height: 5vw;
  padding: 20px 40px;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 2px 2px 5px rgb(227, 220, 220);
  transition: 0.7s;
  &:hover {
    box-shadow: 1px 1px 10px #01597d;
  }
}

.Specialities-box h2 {
  color: #01597d;
}
