.video-gallery-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 50px;
  width: 85%;
}

.video-card {
  border-radius: 10px;
}
